@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url('../docs/img/bg-tablet-pattern.svg');
    background-repeat:no-repeat;
    background-size:800px;
    background-position:90% -25%;
}

#cta{
    background-image:url('../docs/img/bg-simplify-section-desktop.svg');
    backgroud-repeat:no-repeat;
}

@media (max-width:550px){
    body{
        background-position:100px -90px;
        background-size:500px;
    }

    #cta{
        background-image:url('../docs/img/bg-simplify-section-mobile.svg');
        background-repeat:no-repeat;
    }
}