@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url('../docs/img/bg-tablet-pattern.svg');
    background-repeat:no-repeat;
    background-size:800px;
    background-position:90% -25%;
}

#cta{
    background-image:url('../docs/img/bg-simplify-section-desktop.svg');
    backgroud-repeat:no-repeat;
}

@media (max-width:550px){
    body{
        background-position:100px -90px;
        background-size:500px;
    }

    #cta{
        background-image:url('../docs/img/bg-simplify-section-mobile.svg');
        background-repeat:no-repeat;
    }
}

/* hamburger */

.hamburger{
    position:relative;
    width:24px;
    top:10px;
    height:24px;
    cursor:pointer;
    transition:all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position:absolute;
    background-color:black;
    width:24px;
    height:3px;
    top:0;
    left:0;
    transition:0.3s all ease;
    transform:rotate(0);
}

.hamburger-top{
    transform:translateY(7px);
}
.hamburger-bottom{
    transform:translateY(14px);
}
.open{
    transform:rotate(90deg);
    transform:translateY(0px);
}
.open .hamburger-top{
    transform:rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle{
    display:none;
}
.open .hamburger-bottom{
    transform:rotate(-45deg) translateY(6px) translate(-6px);
}